/*
 * welcome to the messiest css code ever
 * what the hell are you doing here lol
 */

body {
    margin: 0;
    padding: 0;

    background-color: #eee;
    filter: drop-shadow(5px 5px 0px #11111122);
}

#cube {
    transition: fill 1s linear;
    transform-origin: 0px 75px;
    transform: scaleY(0);
}

@keyframes conveyorBeltMove {
    0% {
        stroke-dashoffset: 999;
    }
    100% {
        stroke-dashoffset: 20;
    }
}

#conveyorBelt {
    animation: conveyorBeltMove 27.1s linear infinite;
}

#conveyor2Belt {
    animation: conveyorBeltMove 25s linear infinite reverse;
}

@keyframes createCube {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes fallCube {
    0% {
        transform: scaleY(1) translateY(0%);
    }
    100% {
        transform: scaleY(1) translateY(16.9%);
    }
}

@keyframes cubeBeltMove {
    0% {
        transform: scaleY(1) translateY(16.9%) translateX(0%);
    }
    100% {
        transform: scaleY(1) translateY(16.9%) translateX(37.5%);
    }
}

@keyframes cubePistonMoveUp {
    0% {
        transform: scaleY(1) translateY(15.9%) translateX(37.5%);
    }
    100% {
        transform: scaleY(1) translateY(6%) translateX(37.5%);
    }
}

@keyframes cubePistonMoveForward {
    0% {
        transform: scaleY(1) translateY(6%) translateX(37.5%);
    }
    100% {
        transform: scaleY(1) translateY(6%) translateX(59%);
    }
}

@keyframes cubeChangeColour {
    0% {
        fill: #bdbdbd;
    }
    100% {
        fill: #f44336;
    }
}

@keyframes cubePistonFall {
    0% {
        transform: scaleY(1) translateY(6%) translateX(59%);
    }
    100% {
        transform: scaleY(1) translateY(45%) translateX(59%);
    }
}

.cube--anim {
    animation: createCube 2s linear forwards,
               fallCube 1s ease-in 2s forwards,
               cubeBeltMove 2.15s linear 3s forwards,
               cubePistonMoveUp 1s linear 5.15s forwards,
               /*cubeChangeColour 1s ease-out 6s forwards,*/
               cubePistonMoveForward 1s linear 7s forwards,
               cubePistonFall 1s ease-in 8s forwards;
}

@keyframes sprayAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .1;
    }
}

#spray {
    opacity: 0;
    animation: sprayAppear 2s ease-out 6s alternate-reverse forwards;
}

@keyframes sprayToolReveal {
    0% {
        transform: translateY(-7%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes sprayToolHeadMove {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(-60deg);
    }
}

#sprayToolGroup {
    transform: translateY(-7%);
    animation: sprayToolReveal 1s ease-out 4s forwards, sprayToolReveal 1s ease-out 8s forwards reverse;
}

#sprayToolHead {
    transform: rotate(180deg);
    transform-origin: 89.128px 81.733px;
    animation: sprayToolHeadMove 1s ease-out 4s forwards;
}

@keyframes epic {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pistonMoveUp {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-11%);
    }
}

#piston, #pistonTip {
    animation: pistonMoveUp 1.1s linear 5.05s forwards,
               pistonMoveUp 1s linear 8s forwards reverse;
}

@keyframes pistonMoveForward {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(21.5%);
    }
}

#pistonParentGroup {
    animation: pistonMoveForward 1s linear 7s forwards,
               pistonMoveForward 1s linear 8s forwards reverse;
}

@keyframes pistonBeltMove {
    0% {
        stroke-dashoffset: 70;
    }
    100% {
        stroke-dashoffset: 20;
    }
}

#pistonBelt {
    animation: pistonBeltMove 1s linear 7s forwards,
               pistonBeltMove 1s linear 8s forwards reverse;
}

@keyframes noteMoveOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-165%);
    }
}

@keyframes pixelNoteMoveOut {
    0% {
        transform: translate(194.31153px, 39.718423px);
    }

    100% {
        transform: translate(-154.31153px, 39.718423px);
    }
}

@keyframes noteFade {
    0% {
        visibility: hidden;
    }

    20% {
        visibility: visible;
    }
}

@keyframes noteFadeOut {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }
}

#pixelnote {
    fill: #bdbdbd;
    stroke: #bdbdbd;

    opacity: 1;
    animation: pixelNoteMoveOut 9.075s linear 0s forwards, noteFade
    9.075s steps(1, end) forwards;
}

#note {
    animation: noteMoveOut 9.075s linear 0s forwards, noteFadeOut 9.075s steps(1, end) forwards;
}

#redSlider, #blueSlider, #greenSlider {
    transition: cy 0.7s ease-in-out;
}

#sprayColourIndicator {
    transition: fill 1s ease-in-out;
}

@keyframes lightFlash {
    0% {
        fill: #e57373;
    }
    100% {
        fill: #b71c1c;
    }
}

.lightanim {
    animation: lightFlash 0s linear 9s forwards;
}
